---
layout: default
title: PROJECTS | SYAHMI FAUZI .COM @ SF
---

<div id="project">

  <div id="section-wrap">
    <h1 class="project-heading">Arabic Project</h1>
    <div class="all-projects">
      {% for project in site.project-arabic %}
        <a href="{{ project.url }}"><div>{% if project.arabic_title and project.title %}<span class="arab">{{ project.arabic_title }}</span>{% elsif project.title %}{{ project.title }}{% else %}{% endif %}</div></a>
      {% endfor %}
    </div>
  </div>

  <div style="min-height: 126px; width: 100%;"></div>

  {% include header/homepage.html %}

</div>
