---
layout: default
title: PROJECTS | SYAHMI FAUZI .COM @ SF
---

<div id="project">

  <div id="section-wrap">
    <h1 class="project-heading">Arabic Project</h1>
    <div class="all-projects">
      {% for project in site.project-arabic %}
        <a href="{{ project.url }}"><div>{% if project.arabic_title and project.title %}<span class="arab">{{ project.arabic_title }}</span>{% elsif project.title %}{{ project.title }}{% else %}{% endif %}</div></a>
      {% endfor %}
    </div>
    <br/>
    <h1 class="project-heading">Side Project</h1>
    <div class="ictedu-wrap">
      <a href="http://ictedu.github.io/" target="_blank" class="ictedu-logo"></a>
      <div class="ictedu-desc">
        <h3>ICT Educational Website</h3>
        <p><a href="http://ictedu.github.io/" target="_blank">ICT-EDU</a> was made by these four guys (Me, Nur Arif, Iqbal Saidi &amp; Solihin Shahril). This project is our second assignment for ICT0512 subject in CFSIIUM. </p>
      </div>
    </div>
  </div>

  <div style="min-height: 126px; width: 100%;"></div>

  {% include header/homepage.html %}

</div>
