.blog#blog
  #col-wrap
    .col-60
      h1 
        | He also does blogging,
        br
        | mostly about coding and life..
        br
        | Come see his blog..
        br
        | Comments as you wish..
      
    .col-40
      a(href="/blog") View Blog
