/* MADE WITH LOVE */
.mwL {
  max-width: 500px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.06);
  text-shadow: 1px 2px 3px lighten(#1fa1ff, 30%);
  box-shadow: 0px 10px 3px #bbb;
  padding: 7px 5px;
  margin: 0 auto 25px auto;
  border: 1px solid #fff;
  font-family: $blog-font;
  span {
    color: red;
    font-size: 20px;
    animation: changeColor 10s infinite;
    @keyframes changeColor {
      0% {color: red;}
      20% {color: blue;}
      40% {color: yellow;}
      60% {color: purple;}
      80% {color: orange;}
    }
  }
}
